<app-progress-spinner [condition]="problem == null"></app-progress-spinner>
<div [hidden]="problem == null">
    <!-- Encabezado -->
    <app-header [title]="'Editar Problema #'+num_s" [breadcrumbs]="items"></app-header>
    <div class="flex flex-row mb-3">
        <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight mr-2">Fase </h5><span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">Preliminar</span>
        <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight mr-2">Edición <span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">{{test.edition}}</span></h5>
        <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Niveles <span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">{{test.levels}}</span></h5>
    </div>
    <form (ngSubmit)="updateProblem()" #updateProblemForm="ngForm">
        <!-- Número secuencial -->
        <div class="grid grid-cols-12 gap-6">
            <p-card class="col-span-2" header="Número">
                <div class="flex flex-col gap-3">
                    <p-inputNumber [(ngModel)]="num_s" name="num_s" mode="decimal" [min]="1" [max]="max" [showButtons]="true"></p-inputNumber>
                </div>
            </p-card>
        </div>
        <!-- Figuras -->
        <ng-container *ngIf="problem">
            <div class="grid grid-cols-12 gap-6">
                <p-card class="col-span-10 h-min" header="Figuras">
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-row gap-3">
                            <span class="mt-2">{{problem.figures.length | i18nPlural:figuresMap1}}</span>
                            <span class="leading-10" *ngIf="problem.figures.length">{{problem.figures.length}}</span>
                            <span class="mt-2">{{problem.figures.length | i18nPlural:figuresMap2}}</span>    
                            <button pButton 
                                    type="button" 
                                    class="btn float-left"
                                    label="Añadir figura" 
                                    icon="pi pi-plus" 
                                    iconPos="left"
                                    (click)="addFigure()">
                            </button>
                        </div>
                        <app-figures-table *ngIf="this.problem.figures.length" [figures]="problem.figures" [_id]="problem._id"></app-figures-table>
                    </div>
                </p-card>
            </div>
            
            <!-- Rutina y Resultado -->
            <div class="grid grid-cols-12 gap-6">
                <p-card class="col-span-5" header="Rutina">
                    <div class="flex flex-col gap-3">
                        <textarea pInputTextarea [autoResize]="true" [(ngModel)]="problem.statement" name="routine"></textarea>
                    </div>
                </p-card>
                <p-card class="col-span-5 h-min" header="Resultado">
                    <div class="flex flex-col gap-3">
                        <ng-katex-html [html]="problem.statement"></ng-katex-html>
                    </div>
                </p-card>
            </div>

            <!-- Opciones -->
            <div class="grid grid-cols-12 gap-2">
                <h5 class="text-2xl font-bold text-[#26201F] tracking-tight">Opciones</h5>
                <div class="col-span-12 h-min">
                    <div class="grid grid-cols-12 gap-8 mb-6">
                        <app-options (onChangeOptions)="problem.options = $event" [options]="problem.options" [problem_id]="problem._id" class="col-span-10"></app-options>
                    </div>
                </div>
            </div>

            <!-- Categoría y Solución -->
            <div class="grid grid-cols-12 gap-6 mb-3">
                <p-card class="col-span-3" header="Categoría">
                    <div class="flex flex-col gap-3">
                        <app-category (onChangeCategory)="problem.category = $event" [category]="problem.category"></app-category>
                    </div>
                </p-card>
                <p-card class="col-span-3 h-min" header="Solución">
                    <div class="flex flex-col gap-3">
                        <app-solution (onChangeSolution)="problem.solution = $event" [solution]="problem.solution"></app-solution>
                    </div>
                </p-card>
            </div>
            <div class="grid grid-cols-12">
                <button pButton type="button" class="btn float-left" label="Volver" icon="pi pi-arrow-left" iconPos="left" (click)="back()"></button>
                <button pButton pRipple label="Guardar" class="btn w-32 p-3 col-span-2 col-start-10" type="submit"></button>
            </div>
        </ng-container>
    </form> 
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>
