<app-header title="Prueba Nueva" [breadcrumbs]="items"></app-header>

<form #addTestForm="ngForm">
    <div class="flex gap-2 mb-6">
        <h5 class="text-[21px] font-normal text-[#26201F] tracking-tight">Edición </h5>
        <p-inputNumber [(ngModel)]="test.edition"
                    name="edition"
                    [format]="false"
                    [showButtons]="true"
                    [min]="minEdition"
                    [max]="maxEdition">
        </p-inputNumber>    
        <h5 class="text-[21px] font-normal text-[#26201F] tracking-tight ml-5">Año Escolar </h5>
        <p-dropdown [(ngModel)]="test.levels" 
                    name="level" 
                    class="col-span-2 my-auto mr-8" 
                    [options]="levels"  
                    optionLabel="name" 
                    optionValue="code">
        </p-dropdown>
    </div>
    <p-fileUpload
        #uploadBtn
        mode="basic"
        [auto]="false"
        chooseLabel="Subir archivo (opcional)"
        name="testFile"
        [url]="uploadUrl"
        accept=".zip, .rar"
        [maxFileSize]="500000"
        (onUpload)="onTestUpload($event)">
    </p-fileUpload>
    <button pButton 
            type="button" 
            class="float-right"
            label="Siguiente" 
            icon="pi pi-arrow-right" 
            iconPos="right" 
            [disabled]="addTestForm.form.invalid"
            (click)="addTest()">
    </button>
</form>
    
<p-toast position="bottom-center"></p-toast>