<div class="flex flex-row mb-2">
    <p class="basis-1/2">1. Distrito Capital</p>
    <p class="basis-1/2 text-right pr-1">665</p>
</div>
<div class="flex flex-row mb-2">
    <p class="basis-1/2">2. Bolívar</p>
    <p class="basis-1/2 text-right pr-1">665</p>
</div>
<div class="flex flex-row mb-2">
    <p class="basis-1/2">3. Sucre</p>
    <p class="basis-1/2 text-right pr-1">665</p>
</div>
<div class="flex flex-row mb-2">
    <p class="basis-1/2">4. Falcón</p>
    <p class="basis-1/2 text-right pr-1">665</p>
</div>