<app-header title="Usuarios" [breadcrumbs]="items"></app-header>

<app-error-message [condition]="error"></app-error-message>

<form #newAdminUserForm="ngForm" (ngSubmit)="saveAdminUser()" class="flex flex-row mt-2">
    <div class="w-2/3">
        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight w-fit">Nombre</label>
            <input pInputText id="username" [class]="validateName()? '':'ng-invalid ng-dirty'" aria-describedby="username-help" [(ngModel)]="adminUser.name" [required]="true" (input)="generateUsername()" name="name"/>
            <div *ngIf="validateName()" class="text-red-500 text-sm ml-3 mt-2">Por favor, ingresa el nombre</div>
        </div>

        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Apellido</label>
            <input pInputText id="username" [class]="validateLastName()? '':'ng-invalid ng-dirty'" aria-describedby="username-help" [(ngModel)]="adminUser.last_name" [required]="true" (input)="generateUsername()" name="last_name" />
            <div *ngIf="validateLastName()" class="text-red-500 text-sm ml-3 mt-2">Por favor, ingresa el apellido</div>
        </div>
        
        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Usuario</label>
            <input pInputText disabled id="username" aria-describedby="username-help" [(ngModel)]="adminUser.username" name="username" />
        </div>

        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Sexo</label>
            <div class="col-span-2 row-start-4">
                <p-radioButton *ngFor="let gender of sexs; let i = index"
                            name="gender"
                            [value]="gender.code"
                            [label]="gender.name"
                            [(ngModel)]="adminUser.sex"
                            class="mr-4">
                </p-radioButton>
            </div>
        </div>

        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Email</label>
            <input pInputText id="email" [class]="validateEmail()? '':'ng-invalid ng-dirty'" aria-describedby="username-help" [(ngModel)]="adminUser.email" [required]="true" name="email" />
            <div *ngIf="validateEmail()" class="text-red-500 text-sm ml-3 mt-2">Por favor, ingresa el email</div>
        </div>

        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Fecha de Nacimiento</label>
            <p-calendar [(ngModel)]="date_birth" 
                class="w-40"
                name="date_birth"
                [showIcon]="true" 
                [minDate]="minDate" 
                [maxDate]="maxDate"
                [showIcon]="true"
                inputId="range" 
                inputStyleClass="btn"
            ></p-calendar>           
        </div>

        <div class="flex flex-row mb-6">
            <label class="flex-none mr-3 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Cambiar Contraseña</label>
            <p-password [(ngModel)]="newPassword" [toggleMask]="true" [feedback]="false" name="password" [required]="true"></p-password>
            <div *ngIf="validatePassword()" class="text-red-500 text-sm ml-3 mt-2">Por favor, ingresa la contraseña</div>
        </div>
        <button pButton type="button" class="btn float-left" label="Volver" icon="pi pi-arrow-left" iconPos="left" (click)="back()"></button>
        <button pButton pRipple label="Guardar" class="btn w-32 p-3 float-right" type="submit" [disabled]="!newAdminUserForm.valid"></button>
    </div>

    <div class="w-1/3">
        <p-image [src]="adminUser.avatar.url"></p-image>
        <app-upload-file
            (startUpload)="uploading = $event"
            (endUpload)="addAvatar($event)"
            [fileName]="getRandomAvatarName(adminUser.username)"
            folder="usuarios"
            typeNameFile="imagen">
        </app-upload-file>         
    </div>
</form>
<app-progress-spinner [condition]="!adminUser && !error"></app-progress-spinner>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>