<div class="grid grid-cols-12 mb-6">
    <p-table [value]="figures" class="col-span-12">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Archivo</th>
                <th>Vista Previa</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-figure id="figures-table">
            <tr>
                <td>{{ figure.num_s }}</td>
                <td>{{ figure.url.split("/").slice(-1) }}</td>
                <td>
                    <div class="flex flex-col">
                        <p-radioButton name="position" value="intermedia" label="Intermedia" [(ngModel)]="figure.position" class="mb-2"></p-radioButton>
                        <p-radioButton name="position" value="derecha" label="Derecha" [(ngModel)]="figure.position"></p-radioButton>
                    </div>
                </td>
                <td>
                    <app-upload-file
                        (startUpload)="uploadings[figure.num_s-1] = $event"
                        (endUpload)="addFigure($event)"
                        [fileName]="getRandomFigureName(figure.num_s)"
                        [folder]="problem_id">
                    </app-upload-file>                                    
                </td>
                <td>
                    <p-image *ngIf="!uploadings[figure.num_s-1]" [src]="figure.url" [alt]="figure.url.split('/').slice(-1)" width="300" [preview]="true"></p-image>
                    <app-progress-spinner [condition]="uploadings[figure.num_s-1]"></app-progress-spinner>
                </td>
                <td><i (click)="deleteFigure(figure.num_s)" class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>