<div class="grid grid-cols-12 mb-6">
    <p-table [value]="figures" class="col-span-12">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Archivo</th>
                <th>Vista Previa</th>
                <th>Eliminar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-figure id="figures-table">
            <tr>
                <td>{{ figure.num_s }}</td>
                <td>{{ figure.url.split("/").slice(-1) }}</td>
                <td>
                    {{ setPosition(figure.ubication) }}
                    <div class="flex flex-col">
                        <p-radioButton name="position" value="intermedia" label="Intermedia" [(ngModel)]="position" class="mb-2"></p-radioButton>
                        <p-radioButton name="position" value="derecha" label="Derecha" [(ngModel)]="position"></p-radioButton>
                    </div>
                </td>
                <td>
                    <app-upload-file [fileName]="figure.num_s" [folder]="problem_id"></app-upload-file>                                    
                </td>
                <td>
                    <p-image [src]="figure.url" [alt]="figure.url.split('/').slice(-1)" width="300" [preview]="true"></p-image>
                </td>
                <td><a [routerLink]="['/figuras/eliminar', figure.url.split('/').slice(-1) ]"><i class="pi pi-trash"></i></a></td>
            </tr>
        </ng-template>
    </p-table>
</div>