<!-- Encabezado -->
<app-header title="Editar Prueba" [breadcrumbs]="items"></app-header>

<form (ngSubmit)="updateTest()" #editTestForm="ngForm">
    <div class="flex gap-2 mb-6">
        <h5 class="text-xl my-auto font-semibold text-slate-600 tracking-tight">Edición </h5>
        <p-inputNumber [(ngModel)]="test.edition" 
                    name="edition" 
                    [format]="false" 
                    [showButtons]="true"
                    [min]="minEdition"
                    [max]="maxEdition">
        </p-inputNumber>    
        <h5 class="text-xl my-auto font-semibold text-slate-600 tracking-tight ml-5">Año Escolar </h5>
        <p-dropdown [(ngModel)]="test.levels"
                    name="levels"
                    class="col-span-2 my-auto"
                    [options]="levels"
                    optionLabel="name"
                    optionValue="code">
        </p-dropdown>
        <h5 class="text-xl my-auto font-semibold text-slate-600 tracking-tight ml-5">Publicada </h5>
        <p-inputSwitch [(ngModel)]="test.is_published" class="mt-2 mr-8" name="is_published"></p-inputSwitch>
        <app-progress-spinner [condition]="saving"></app-progress-spinner>
        <button pButton pRipple
                *ngIf="!saving"
                [disabled]="disabledEditTestSubmit()"
                label="Guardar" 
                class="btn col-span-2 col-start-5" 
                type="submit">
        </button>
    </div>
</form>
<button pButton 
        type="button" 
        class="btn"
        label="Volver" 
        icon="pi pi-arrow-left" 
        iconPos="left"
        (click)="back()">
</button>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>