<div class="main-layout bg-pattern min-h-screen pb-8">
    <div *ngIf="loggedIn" @slidein class="relative md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-hidden md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between md:w-64 z-10 py-6 px-6 bg-gradient-to-b from-amber-50 to-orange-400">
        <a href="/acm/informe-general"><img class="w-28 mx-auto mb-2 shadow-md" src="/assets/img/Kangaroo-eu.png" alt="logo"></a>
        <img class="w-50 mx-auto mt-4" src="/assets/img/title.png" alt="title">
        <h2 class="font-['Pangram'] text-[22px] text-center font-bold text-gray-700 tracking-tight">administración</h2>
        <app-slide-menu></app-slide-menu>
    </div>

    <div id="navbar" class="flex flex-col relative h-fit pl-10 pt-6 pr-12" [class]="expanded ? 'transformed-state' : ''">
        <app-navbar></app-navbar>
        <router-outlet class="mt-7"></router-outlet>
    </div>
</div>