<div class="bg-pattern min-h-screen pb-8">
    <div class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-hidden md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-6 px-6 bg-gradient-to-b from-amber-50 to-orange-400">
        <a href="/math/informe"><img class="w-28 mx-auto mb-2 shadow-md" src="/assets/Kangaroo-eu.png" alt="logo"></a>
        <h1 class="text-2xl text-center font-bold text-gray-700 tracking-tight ">Canguromath App</h1>
        <h2 class="text-xl text-center font-bold text-gray-700 tracking-tight ">Administración</h2>
        <app-slide-menu></app-slide-menu>
    </div>

    <div class="flex flex-col relative md:ml-64 h-fit pl-10 pt-6 pr-12">
        <router-outlet></router-outlet>
    </div>
</div>
