<!-- Encabezado -->
<app-header [title]="'Agregar Problema #'+num_s" [breadcrumbs]="items"></app-header>
<div class="flex flex-row mb-3" *ngIf="test">
    <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight mr-2">Fase:</h5><span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">Preliminar</span>
    <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight mr-2">Edición: <span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">{{test.edition}}</span></h5>
    <h5 class="block mb-1 my-auto text-[21px] font-normal text-[#26201F] tracking-tight">Niveles: <span class="text-[21px] text-[#26201F] tracking-tight font-semibold mr-8">{{test.levels}}</span></h5>
</div>
<!-- Tipo de subida -->
<p-tabView>
    <p-tabPanel header="Nuevo">
        <form (ngSubmit)="saveNewProblem()" #addNewProblemForm="ngForm">
            <!-- Rutina y Resultado -->
            <div class="grid grid-cols-12 gap-6">
                <p-card class="col-span-5" header="Rutina">
                    <div class="flex flex-col gap-3">
                        <textarea [class]="validateStatement()? '':'ng-invalid ng-dirty'" pInputTextarea [autoResize]="true" [(ngModel)]="newProblem.statement" [required]="true" name="statement"></textarea>
                        <div *ngIf="validateStatement()" class="text-red-500 text-sm mt-1">Por favor, ingresa la rutina del problema</div>
                    </div>
                </p-card>
                <p-card class="col-span-5 h-min" header="Resultado">
                    <div class="flex flex-col gap-3">
                        <ng-katex-html *ngIf="newProblem.statement" [html]="newProblem.statement"></ng-katex-html>
                    </div>
                </p-card>
            </div>
            
            <!-- Figuras -->
            <div class="grid grid-cols-12 gap-6">
                <p-card class="col-span-10 h-min" header="Figuras">
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-row gap-3">
                            <span class="mt-2">{{newProblem.figures.length | i18nPlural:figuresMap1}}</span>
                            <span class="leading-10" *ngIf="newProblem.figures?.length">{{newProblem.figures.length}}</span>
                            <span class="mt-2">{{newProblem.figures.length | i18nPlural:figuresMap2}}</span>    
                            <button pButton 
                                    type="button" 
                                    class="btn float-left"
                                    label="Añadir figura" 
                                    icon="pi pi-plus" 
                                    iconPos="left"
                                    (click)="addFigure()">
                            </button>
                        </div>
                        <app-figures-table *ngIf="newProblem.figures?.length" [figures]="newProblem.figures" [problem_id]="newProblem.problem_id"></app-figures-table>
                    </div>
                </p-card>
            </div>

            <!-- Opciones -->
            <div class="grid grid-cols-12 gap-2">
                <h5 class="text-2xl font-bold text-[#26201F] tracking-tight">Opciones</h5>
                <div class="col-span-12 h-min">
                    <div class="grid grid-cols-12 gap-8 mb-6">
                        <app-options #appOptions (onChangeOptions)="newProblem.options = $event" [options]="newProblem.options" [problem_id]="newProblem.problem_id" class="col-span-10"></app-options>
                    </div>
                </div>
            </div>

            <!-- Categoría y Solución -->
            <div class="grid grid-cols-12 gap-6 mb-3">
                <p-card class="col-span-3" header="Categoría">
                    <div class="flex flex-col gap-3">
                        <app-category (onChangeCategory)="newProblem.category = $event" [category]="newProblem.category"></app-category>
                    </div>
                </p-card>
                <p-card class="col-span-3 h-min" header="Solución">
                    <div class="flex flex-col gap-3">
                        <app-solution (onChangeSolution)="newProblem.solution = $event" [solution]="newProblem.solution"></app-solution>
                    </div>
                </p-card>
            </div>
            <div class="grid grid-cols-12">
                <button pButton type="button" class="btn float-left" label="Volver" icon="pi pi-arrow-left" iconPos="left" (click)="back()"></button>
                <button pButton pRipple label="Añadir" class="btn w-32 p-3 col-span-2 col-start-10" type="submit" [disabled]="disabledNewProblem()"></button>
            </div> 
        
        </form>
    </p-tabPanel>
    <p-tabPanel header="Existente">
        <form #addExistingProblemForm="ngForm" class="flex flex-col mb-6">

            <app-problem-input
            (onDebounce)="suggestions( $event )"
                placeholder="Buscar país..."
                class="mb-3" >
            </app-problem-input>

            <app-progress-spinner [condition]="!suggestedProblems && term" [template]="problemResults" class=""></app-progress-spinner>
            <ng-template #problemResults>            
                <ul *ngIf="suggestedProblems?.length" class="list-none list-inside text-slate-700 bg-white rounded-md shadow-md">
                    <li (click)="seeProblem(problem)" *ngFor="let problem of suggestedProblems; let i = index" class="cursor-pointer hover:bg-[#fef9f0] pr-5 pl-5 pt-4 pb-4">
                        <b>{{problem.num_s}}. </b>
                        <ng-katex-html [html]="problem.statement"></ng-katex-html>
                    </li>
                </ul>
                <span *ngIf="this.suggestedProblems?.length === 0 && term && !problemSelected" class="bg-white rounded-md shadow-md pr-5 pl-5 pt-4 pb-4">No hay ningún problema con el término {{term}}</span>
            </ng-template>
        </form>
        <span class="m-3"></span>
        <div *ngIf="problemSelected" class="bg-white rounded-md pt-6 pb-2 pl-8 pr-10 mb-16">
            <app-problem [problem]="problemSelected"></app-problem>
        </div>
        <button pButton type="button" class="btn float-left" label="Volver" icon="pi pi-arrow-left" iconPos="left" (click)="back()"></button>
        <button pButton
                *ngIf="problemSelected"
                type="button" 
                class="btn float-right"
                label="Añadir" 
                icon="pi pi-plus" 
                iconPos="left"
                (click)="addProblem()">
        </button>
    </p-tabPanel>
</p-tabView>

<p-toast position="bottom-center"></p-toast>


