<p-accordion>
    <p-accordionTab header="Opción A">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 pt-1 shadow-sm border-slate-600 border-2 w-fit h-10 rounded-full text-center">
                <h5 class="font-['CMU_Serif'] text-2xl my-auto font-semibold text-slate-600">A</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">
                <p-radioButton name="optionA" value="rutina" label="Rutina" [(ngModel)]="optionsTypes[0]"></p-radioButton>
                <p-radioButton name="optionA" value="figura" label="Figura" [(ngModel)]="optionsTypes[0]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[0] == 'rutina'; else figureA" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[0].answer" name="rutinaA"></textarea>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[0].answer" [html]="options[0].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureA>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[0]"  [src]="options[0].answer" [preview]="true" [alt]="options[0].letter" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[0] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción B">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">B</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionB" value="rutina" label="Rutina" [(ngModel)]="optionsTypes[1]"></p-radioButton>
                <p-radioButton name="optionB" value="figura" label="Figura" [(ngModel)]="optionsTypes[1]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[1] == 'rutina'; else figureB" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[1].answer" name="rutinaB"></textarea>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[1].answer" [html]="options[1].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureB>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[1]"  [src]="options[1].answer" [preview]="true" [alt]="options[0].letter" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[1] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción C">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">C</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionC" value="rutina" label="Rutina" [(ngModel)]="optionsTypes[2]"></p-radioButton>
                <p-radioButton name="optionC" value="figura" label="Figura" [(ngModel)]="optionsTypes[2]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[2] == 'rutina'; else figureC" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[2].answer" name="rutinaC"></textarea>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[2].answer" [html]="options[2].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureC>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[2]"  [src]="options[2].answer" [preview]="true" [alt]="options[0].letter" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[2] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción D">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">D</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionD" value="rutina" label="Rutina" [(ngModel)]="optionsTypes[3]"></p-radioButton>
                <p-radioButton name="optionD" value="figura" label="Figura" [(ngModel)]="optionsTypes[3]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[3] == 'rutina'; else figureD" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[3].answer" name="rutinaD"></textarea>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[3].answer" [html]="options[3].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureD>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[3]"  [src]="options[3].answer" [preview]="true" [alt]="options[0].letter" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[3] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción E">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">E</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionE" value="rutina" label="Rutina" [(ngModel)]="optionsTypes[4]"></p-radioButton>
                <p-radioButton name="optionE" value="figura" label="Figura" [(ngModel)]="optionsTypes[4]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[4] == 'rutina'; else figureE" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[4].answer" name="rutinaE"></textarea>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[4].answer" [html]="options[4].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureE>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[4]"  [src]="options[4].answer" [preview]="true" [alt]="options[0].letter" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[4] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>