<p-accordion>
    <!-- Opción A -->
    <p-accordionTab header="Opción A">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 pt-1 shadow-sm border-slate-600 border-2 w-fit h-10 rounded-full text-center">
                <h5 class="font-['CMU_Serif'] text-2xl my-auto font-semibold text-slate-600">A</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">
                <p-radioButton name="optionA" value="routine" label="Rutina" [(ngModel)]="optionsTypes[0]"></p-radioButton>
                <p-radioButton name="optionA" value="figure" label="Figura" [(ngModel)]="optionsTypes[0]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[0] == 'routine'; else figureA" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea #routineA="ngModel" required pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[0].answer" name="routineA"></textarea>
                <div *ngIf="routineA.invalid && routineA.touched" class="text-red-500 text-sm mt-1">Por favor, ingresa la opción <strong>A</strong></div>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[0].answer" [html]="options[0].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureA>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[0]"  [src]="options[0].answer" [preview]="true" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[0] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('A')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>

    <!-- Opción B -->
    <p-accordionTab header="Opción B">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">B</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionB" value="routine" label="Rutina" [(ngModel)]="optionsTypes[1]"></p-radioButton>
                <p-radioButton name="optionB" value="figure" label="Figura" [(ngModel)]="optionsTypes[1]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[1] == 'routine'; else figureB" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea #routineB="ngModel" required pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[1].answer" name="routineB"></textarea>
                <div *ngIf="routineB.invalid && routineB.touched" class="text-red-500 text-sm mt-1">Por favor, ingresa la opción <strong>B</strong></div>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[1].answer" [html]="options[1].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureB>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[1]"  [src]="options[1].answer" [preview]="true" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[1] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('B')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción C">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">C</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionC" value="routine" label="Rutina" [(ngModel)]="optionsTypes[2]"></p-radioButton>
                <p-radioButton name="optionC" value="figure" label="Figura" [(ngModel)]="optionsTypes[2]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[2] == 'routine'; else figureC" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea #routineC="ngModel" required pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[2].answer" name="routineC"></textarea>
                <div *ngIf="routineC.invalid && routineC.touched" class="text-red-500 text-sm mt-1">Por favor, ingresa la opción <strong>C</strong></div>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[2].answer" [html]="options[2].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureC>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[2]"  [src]="options[2].answer" [preview]="true" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[2] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('C')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción D">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">D</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionD" value="routine" label="Rutina" [(ngModel)]="optionsTypes[3]"></p-radioButton>
                <p-radioButton name="optionD" value="figure" label="Figura" [(ngModel)]="optionsTypes[3]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[3] == 'routine'; else figureD" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea #routineD="ngModel" required pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[3].answer" name="routineD"></textarea>
                <div *ngIf="routineD.invalid && routineD.touched" class="text-red-500 text-sm mt-1">Por favor, ingresa la opción <strong>D</strong></div>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[3].answer" [html]="options[3].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureD>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[3]"  [src]="options[3].answer" [preview]="true" width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[3] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('D')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab header="Opción E">
        <div class="flex flex-row gap-3 mb-6">
            <div class="p-2 shadow-sm border-slate-600 border-2 w-12 h-fit rounded-full text-center">
                <h5 class="text-xl my-auto font-semibold text-slate-600">E</h5>
            </div>       
            <div class="flex flex-col gap-3 mr-8">           
                <p-radioButton name="optionE" value="routine" label="Rutina" [(ngModel)]="optionsTypes[4]"></p-radioButton>
                <p-radioButton name="optionE" value="figure" label="Figura" [(ngModel)]="optionsTypes[4]"></p-radioButton>
            </div>
        </div>
        <div *ngIf="optionsTypes[4] == 'routine'; else figureE" class="flex flex-row gap-3">
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Rutina</h5>
                <textarea #routineE="ngModel" required pInputTextarea [rows]="2" [cols]="15" [autoResize]="true" [(ngModel)]="options[4].answer" name="routineE"></textarea>
                <div *ngIf="routineE.invalid && routineE.touched" class="text-red-500 text-sm mt-1">Por favor, ingresa la opción <strong>E</strong></div>
            </div>
            <div class="flex flex-col">
                <h5 class="text-xl font-semibold text-slate-600 tracking-tight">Resultado</h5>
                <ng-katex-html *ngIf="options[4].answer" [html]="options[4].answer"></ng-katex-html>
            </div>
        </div>
        <ng-template #figureE>
            <h5 class="text-xl font-semibold text-slate-600 tracking-tight mb-2">Resultado</h5>
            <div class="flex flex-row justify-around">
                <p-image *ngIf="!uploadings[4]"  [src]="options[4].answer" [preview]="true"  width="auto"></p-image>
                <app-progress-spinner [condition]="uploadings[0]"></app-progress-spinner>
                <app-upload-file
                    class="flex flex-col justify-center"
                    (startUpload)="uploadings[4] = $event"
                    (endUpload)="addOptionFigure($event)"
                    [fileName]="generateRandomOptionFigureName('E')"
                    [folder]="problem_id">
                </app-upload-file>                                      
            </div>
        </ng-template>
    </p-accordionTab>
</p-accordion>