<div class="fileinputs">
    <ik-upload 
        [fileName]="fileName"
        [folder]="folder"
        [useUniqueFileName]="false"
        [isPrivateFile]="false"
        (onSuccess)="handleUploadSuccess($event)"
        (onError)="handleUploadError($event)"
        [onUploadStart]="onUploadStart">
    </ik-upload>
    <div class="fakefile">
        <span tabindex="0" pripple="" class="p-ripple p-element p-button p-component p-fileupload-choose" ng-reflect-ng-class="[object Object]">
            <span class="p-button-icon p-button-icon-left pi pi-plus" ng-reflect-ng-class="pi pi-plus"></span>
            <span class="p-button-label">Subir figura</span>
            <span class="p-ink" style="height: 137px; width: 137px; top: -45.55px; left: 15.7167px;"></span>
        </span>
    </div>
</div>

