@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~katex/dist/katex.css';

@font-face {
    font-family: 'CMU Serif';
    src: url('./assets/CMU/CMUSerif-Roman.eot');
    src: url('./assets/CMU/CMUSerif-Roman.eot?#iefix') format('embedded-opentype'),
        url('./assets/CMU/CMUSerif-Roman.woff2') format('woff2'),
        url('./assets/CMU/CMUSerif-Roman.woff') format('woff'),
        url('./assets/CMU/CMUSerif-Roman.svg#CMUSerif-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.p-slidemenu, .p-slidemenu-content {
    border-width: 0px !important;
    padding: 12px 5px !important;
    height: 100vh !important;
    background-color: transparent !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.pi {
    font-size: 1.15rem !important;
    @apply text-slate-600;
}

.p-slidemenu-content span:before {
    @apply text-slate-600;
}

.p-slidemenu .p-menuitem-link .p-menuitem-icon {
    margin-right: 1rem !important;
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover, .p-menuitem-link-active {
    background: rgba(249, 146, 68, 0.15) !important;
}

*:focus, .p-focus {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    border-width: 0px !important;
}

.btn, .p-fileupload-choose.p-button {
    background-color: #f59e0b !important;
    border-width: 0px !important;
    padding: 7px 10px !important;
    font-size: 15px !important;
    @apply shadow-md;
}

.p-fileupload-choose .pi-plus::before {
    color: #fff !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider, .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider, [type="checkbox"]:focus {
    @apply shadow-md;
}


.p-inputnumber-button {
    border-width: 0px !important;
}

[name="level"] .p-element.p-dropdown-label.p-inputtext {
    padding: 10px 12px;
}

.p-card-content {
    padding: 0 !important;
}

.p-button:focus {
    box-shadow: none !important;
}

th {
    background-color: #F1F5F9 !important;
    text-align: center !important;
    padding: 1rem !important;
}

p-inputnumber [name="edition"] {
    width: 90px !important;
}

p-inputnumber [name="numberFigures"] {
    width: 40px !important;
}

p-inputnumber [name="numberFigures"] .p-inputnumber-button {
    width: 38px;
}

.p-fileupload span {
    white-space: nowrap !important;
}

[name="dateOption"] .p-dropdown-label {
    padding-top: 0px;
}

[name="dateOption"] .p-dropdown-label {
    color: #fff;
}

[name="dateOption"] .p-element {
    box-shadow: none;
}

[name="dateRange"] .btn, [name="dateOption"] .btn, #range {
    height: 37px !important;
}

[name="dateRange"] .btn:hover {
    background-color: #d97706 !important;
}

.circleOption {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    font-family: 'CMU Serif';
    font-size: 17px;
    margin-right: 5px;
}

[name="dateOption"] .p-overlay, .p-datepicker.p-component {
    right: 0px !important;
    left: -255px !important;
}

p-calendar .p-button-icon::before {
    color: #fff;
}

p-calendar .p-button:enabled {
    height: 37px !important;
}

p-calendar .p-button:enabled:hover {
    background: #d97706;
    border: #d97706;
}

#range {
    color: #fff !important;
    font-weight: 500 !important;
    cursor: pointer;
}

#pie-chart-forRol, #pie-chart-forLevel {
    height: 420px;
    margin: 0 auto;
}