@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~katex/dist/katex.css';

.p-slidemenu, .p-slidemenu-content {
    border-width: 0px !important;
    padding: 12px 5px !important;
    height: 100vh !important;
    background-color: transparent !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.pi {
    font-size: 1.15rem !important;
    @apply text-slate-600;
}

.p-slidemenu-content span:before {
    @apply text-slate-600;
}

.p-slidemenu .p-menuitem-link .p-menuitem-icon {
    margin-right: 1rem !important;
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover {
    background: rgba(249, 146, 68, 0.15) !important;
}

*:focus, .p-focus {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    border-width: 0px !important;
}

.min-h-95vh {
    min-height: 95vh !important;
}

.btn {
    background-color: #f59e0b !important;
    border-width: 0px !important;
    padding: 7px 10px !important;
    font-size: 15px !important;
    @apply shadow-md;
}

.toggle {
    border-width: 0px !important;
    padding: 7px 10px !important;
    font-size: 15px !important;
    @apply shadow-md;
}

.p-inputnumber-button {
    background-color: #f59e0b !important;
    border-width: 0px !important;
}

.p-element.p-inputwrapper, .p-dropdown.p-component, .h-little {
    height: 42px;
}

.p-element.p-dropdown-label.p-inputtext {
    padding: 10px 12px;
}

.btn:enabled:hover, .p-inputnumber-button:enabled:hover {
    background-color: #d97706 !important;
}

.p-card-content {
    padding: 0 !important;
}

.p-button:focus {
    box-shadow: none !important;
}

.p-togglebutton.p-button.p-highlight, .p-togglebutton.p-button.p-highlight:focus-visible:hover, .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #f59e0b !important;
    border-color: #f59e0b !important;
}

th {
    background-color: #F1F5F9 !important;
    text-align: center !important;
    padding: 1rem !important;
}

td:not(:nth-child(1)) {
    width: 120px;
}

td {
    text-align: center !important;
}

.p-dropdown, .p-dropdown-items-wrapper {
    width: 125px !important;
}

p-inputnumber [name="edition"] {
    width: 90px !important;
}