@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.p-slidemenu, .p-slidemenu-content {
    border-width: 0px !important;
    padding: 12px 20px 12px 5px !important;
    height: 100vh !important;
    background-color: transparent !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.sidebar {
    background-color: rgba(249, 146, 68, 0.075) !important;
    background-position: center !important;
    background-size: cover !important;
}

.p-slidemenu .p-menuitem-link:not(.p-disabled):hover {
    background: rgba(249, 146, 68, 0.15) !important;
}

.p-slidemenu .p-menuitem-link:focus {
    box-shadow: none !important;
}

.btn {
    background-color: rgb(249, 146, 68) !important;
    border-color: rgb(249, 146, 68) !important;
    padding: 8px 10px !important;
    font-size: 0.9rem !important;
    margin-top: 5px !important;
}

.global-btn:enabled:hover {
    background-color: rgb(204, 137, 82) !important;
    border-color: rgb(204, 137, 82) !important;
}

.p-card-content {
    padding: 0 !important;
}

.bg-image {
    background-image: url('assets/pattern-online-gray.png');
}