<!-- Encabezado -->
<div class="flex flex-row mb-6">
    <h1 class="inline-block text-5xl font-bold text-slate-900 tracking-tight basis-1/2 sm:basis-1/2">Informe General</h1>
    <p-button type="button" label="Exportar PDF" class="basis-1/4 sm:basis-1/4 p-button-raised" styleClass="btn float-right"></p-button>
    <p-button type="button" [label]="rangoFecha" class="basis-1/4 sm:basis-1/4 p-button-raised" icon="pi pi-calendar" iconPos="right" styleClass="btn float-right"></p-button>
</div>

<!-- Registros nuevos y Usuarios registrados -->
<div class="flex flex-row gap-6 mb-6">
    <p-card class="basis-3/4 sm:basis-3/4" header="Registros Nuevos">
        <app-line-chart></app-line-chart>
    </p-card>
    <p-card class="basis-1/4 sm:basis-1/4" header="Usuarios Registrados">
        <p class="text-3xl font-semibold text-slate-700">{{ 50 }}</p>
    </p-card>
</div>

<!-- Distribución por rol y Distribución por año escolar -->
<div class="flex flex-row gap-6 justify-center mb-6">
    <p-card class="basis-1/3" header="Distribución por Rol">
        <app-pie-chart id="forRol"></app-pie-chart>
    </p-card>
    <p-card class="basis-1/3" header="Distribución por Año Escolar">
        <app-pie-chart id="forLevel"></app-pie-chart>
    </p-card>
</div>

<!-- Ranking de usuarios por estado -->
<div class="flex flex-row justify-center mb-6">
    <p-card class="basis-1/4 justify-center my-auto" header="Ranking de usuarios por estado">
        <app-ranking-list></app-ranking-list>
    </p-card>
</div>