<!-- Encabezado -->
<div class="grid grid-cols-12 grid-rows-2 mb-6">
    <h1 class="col-span-6 md:col-span-4 inline-block text-5xl font-bold text-gray-700 tracking-tight">Informe General</h1>
    <p-button type="button" 
              label="Exportar PDF" 
              class="col-span-2 md:col-span-2 md:col-start-7 p-button-raised" 
              styleClass="btn float-right">
    </p-button>
    <form #dateFilterForm="ngForm" class="col-span-4 col-start-11 row-span-2">
        <p-dropdown [(ngModel)]="dateOption"
                    name="dateOption"
                    class="p-button-raised grid row-start-1 -ml-16"
                    [class]="dateFilterForm?.form?.value.dateOption != 'customize' ? 'float-right' : ''"
                    styleClass="btn" 
                    icon="pi pi-calendar" 
                    iconPos="right" 
                    [options]="dateOptions"
                    optionLabel="name" 
                    optionValue="code">
        </p-dropdown>
        <p-calendar [(ngModel)]="dates"
                    name="dates"
                    *ngIf="dateOption=='customize'"
                    selectionMode="range" 
                    [minDate]="minDate" 
                    [maxDate]="maxDate" 
                    [readonlyInput]="true" 
                    inputId="range" 
                    [showIcon]="true" 
                    class="p-button-raised grid row-start-2 mt-3" 
                    inputStyleClass="btn float-right">
        </p-calendar>
    </form>
</div>

<!-- Registros nuevos y Usuarios registrados -->
<div class="grid grid-cols-12 gap-6 mb-6" [class]="dateFilterForm?.form?.value.dateOption != 'customize' ? '-mt-12' : ''">
    <p-card class="col-span-10 shadow-md" header="Registros Nuevos">
        <p-chart id="usersLineChart" type="line" [data]="basicData" [options]="basicOptions"></p-chart>
    </p-card>
    <p-card class="col-span-2 shadow-md h-min leading-6" header="Usuarios Registrados">
        <p class="text-4xl font-semibold text-slate-700">{{ numberUsers }}</p>
    </p-card>
</div>

<!-- Distribución por rol y Distribución por año escolar -->
<div class="grid grid-cols-12 gap-6 justify-center mb-6">
    <p-card class="col-span-4 justify-center shadow-md h-min" header="Ranking por Estados">
        <app-ranking-list [rankings]="ranking"></app-ranking-list>
    </p-card>
    <p-card class="col-span-4 shadow-md h-min" header="Distribución por Rol">
        <app-pie-chart-for-rol></app-pie-chart-for-rol>
    </p-card>
    <p-card class="col-span-4 shadow-md h-min" header="Distribución por Nivel">
        <app-pie-chart-for-level></app-pie-chart-for-level>
    </p-card>
</div>

