<!-- Encabezado -->
<div class="grid grid-cols-12 gap-4 mb-10">
    <h1 class="inline-block text-5xl font-bold text-gray-700 tracking-tight col-start-1 col-span-4">Ver Prueba</h1>
</div>

<div class="grid grid-cols-12 gap-4 pt-14 bg-white mx-60">
    <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 ml-7">OLIMPÍADA JUVENIL DE MATEMÁTICA</h3>
    <img src="../../../assets/canguro-gray.png" alt="canguro-gray" class="col-start-5 col-span-2 -mt-2 -ml-20">
    <img src="../../../assets/canguro-gray.png" alt="canguro-gray" class="col-start-9 col-span-2 -mt-2 -ml-3">
    <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-36 ml-7">CANGURO MATEMÁTICO</h3>
    <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-32 ml-7">PRUEBA PRELIMINAR</h3>
    <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-28 ml-7"> {{ test.levels | levelsHeader}} </h3>
</div>

<div class="grid grid-cols-12 gap-4 bg-white mx-60 pb-10">
    <div *ngFor="let problem of problems" class="col-start-3 col-span-8 mx-14">
        <app-problem [problem]="problem"></app-problem>
    </div>
</div>