<app-header title="Ver Prueba"></app-header>

<app-progress-spinner [condition]="test === null" [template]="testHeaderT"></app-progress-spinner>
<ng-template #testHeaderT>
    <div class="grid grid-cols-12 gap-4 pt-14 mx-60" *ngIf="test" [class]="test != undefined? 'bg-white':''">
        <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 ml-7">OLIMPÍADA JUVENIL DE MATEMÁTICA</h3>
        <img src="../../../assets/canguro-gray.png" alt="canguro-gray" class="col-start-5 col-span-2 -mt-2 -ml-20">
        <img src="../../../assets/canguro-gray.png" alt="canguro-gray" class="col-start-9 col-span-2 -mt-2 -ml-3">
        <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-36 ml-7">CANGURO MATEMÁTICO</h3>
        <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-32 ml-7">EDICIÓN {{ test.edition }}</h3>
        <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-28 ml-7">PRUEBA PRELIMINAR</h3>
        <h3 class="font-['CMU_Serif'] inline-block text-center text-2xl font-bold text-gray-700 tracking-tight col-start-4 col-span-6 -mt-24 ml-7"> {{ test.levels | levelsHeader }} </h3>
    </div>
</ng-template>

<ng-container *ngIf="problems">
    <app-progress-spinner [condition]="problems == []" [template]="problemT"></app-progress-spinner>
    <ng-template #problemT>
        <div class="grid grid-cols-12 gap-4 mx-60 pb-10" [class]="problems.length != 0? 'bg-white':''">
            <div *ngFor="let problem of problems" class="col-start-3 col-span-8 mx-14">
                <app-problem [problem]="problem"></app-problem>
            </div>
        </div>
    </ng-template>
    <button pButton 
            type="button" 
            class="btn float-left"
            label="Volver" 
            icon="pi pi-arrow-left" 
            iconPos="left"
            (click)="back()">
    </button>
</ng-container>


<p-scrollTop [threshold]="420" styleClass="btn"></p-scrollTop>