<div class="min-h-95vh overflow-hidden">
    <div class="grid grid-cols-12 grid-rows-3 row-start-1 surface-card py-8 px-5 sm:px-8 -mt-20">
        <div class="col-span-3 col-start-4 row-start-2 text-center mb-1 -mt-16">
            <img class="mx-auto mb-2 shadow-md text-center" src="/assets/img/Kangaroo-eu.png" alt="logo">
            <img class="mx-auto w-80 mt-4 text-center" src="/assets/img/title.png" alt="title">
            <h2 class="mx-auto font-['Pangram'] text-[22px] text-center font-bold text-gray-700 tracking-tight">administración</h2>
            <h3 *ngIf="adminUser" class="mx-auto text-left font-semibold text-2xl text-gray-700 tracking-tight mt-3">¡Hola! 👋 {{ adminUser.name + ' ' + adminUser.last_name }}</h3>
            <h3 *ngIf="user.name" class="mx-auto text-left font-semibold text-2xl text-gray-700 tracking-tight mt-3">¡Hola! 👋 {{ user.name + ' ' + user.last_name }}</h3>
        </div>
                   
        <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()" class="col-span-3 col-start-4 row-start-3 p-fluid">
            <label for="password" class="block mb-1 mt-5 text-[21px] font-normal text-[#26201F] tracking-tight">Nueva contraseña</label>
            <p-password id="password" name="password" autocomplete="off" [(ngModel)]="password" [feedback]="false" [toggleMask]="true" [required]="true"></p-password>
            <div *ngIf="validatePassword()" class="text-red-600 text-sm mt-1">Tu contraseña debe tener al menos 8 caracteres</div>

            <app-progress-spinner [condition]="loading"></app-progress-spinner>
            <div class="flex flex-row w-1/2 float-right mt-7">
                <button pButton pRipple
                        type="submit"
                        label="Cambiar"
                        class="btn justify-end mb-1 mx-auto"
                        [disabled]="validatePassword()">
                </button>
            </div>
        </form>
    </div>
</div>

<p-toast position="bottom-center"></p-toast>